---
layout: default
---
<div class="category">

  <header class="page-header">
    <h1 class="page-title">{{ page.title | escape }}</h1>
  </header>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
        <a class="post-link" href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
        <span class="post-meta">
          &mdash;
          by
          <a href="{{ post.author_url }}" target="_blank">
            {{ post.author }}
          </a>
          {% if post.categories.size > 0 %}
            in
            {% for category in post.categories %}
              {% assign category_slug = category | slugify %}
              <a href="{{ '/category/' | relative_url | append: category_slug | append: '/' }}">{{ category }}</a>{% unless forloop.last %}, {% endunless %}
            {% endfor %}
          {% endif %}
        </span>
      </li>
    {% endfor %}
  </ul>

</div>
